<md-toolbar class="md-primary" layout="row">
    <a href="#/">Home</a>
</md-toolbar>
<md-content flex layout="row" layout-align="center start">
    <div layout="column" layout-padding  class="formlayout md-whiteframe-z2">
        <div ng-show="showerror" layout="row" layout-align="space-around" class="errormessage">
            <% error %>
        </div>
        <form name="loginform" method="POST">
            <md-input-container>
                  <label>Email</label>
                  <input ng-model="loginuser.username" name="username">
            </md-input-container>
             <md-input-container>
                  <label>Password</label>
                  <input type="password" name="password" ng-model="loginuser.password">
                </md-input-container>
                <md-input-container>
                <md-button ng-click="login()" class="md-raised loginbutton" name="login">Login</md-button>
            </md-input-container>
        </form>
    </div>
</md-content>