<md-toolbar class="md-primary" layout="row">
    <a href="#/">Home</a>
</md-toolbar>
<md-content flex style="padding-right:50px;" layout="row">
    <div md-swipe-left="onSwipeLeft()" layout="row" flex layout-align="center center">
        Some content here to promote the new application
    </div>
    <div  layout="row" layout-align="end center">
        <div layout="column"  class="signupform md-whiteframe-z1">
          <md-toolbar class="md-theme-light">
                <h1 class="md-toolbar-tools">Signup</h1>
          </md-toolbar>
           <form layout-padding name="addcustomer" method="POST">
            <md-input-container>
                  <label>Firstname</label>
                  <input ng-model="newuser.firstName" name="firstName">
            </md-input-container>
            <md-input-container>
                  <label>Lastname</label>
                  <input ng-model="newuser.lastName" name="lastName">
            </md-input-container>
            <md-input-container>
                  <label>Email</label>
                  <input ng-model="newuser.email" name="email">
            </md-input-container>
             <md-input-container>
                  <label>Password</label>
                  <input type="password" name="password" ng-model="newuser.password">
            </md-input-container>
            <md-input-container>
                <md-button ng-click="login()" class="md-raised loginbutton" name="add">Sign up</md-button>
            </md-input-container>
            </form>
            <span layout-padding>
                <p>Already have an account? <a href="#" ng-click="toggleRight()" onClick=" return false;">Login</a></p>
            </span>
        </div>
    </div>
    
    <md-sidenav id="loginnav" class="md-sidenav-right md-whiteframe-z1" md-component-id="right">
      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Login</h1>
      </md-toolbar>
      <md-content  layout-padding>
        <div ng-show="showerror" layout="row" layout-align="space-around" class="errormessage">
            <% error %>
        </div>
        <form name="login" method="POST">
        <md-input-container>
              <label>Username</label>
              <input ng-model="loginuser.email" name="email">
        </md-input-container>
         <md-input-container>
              <label>Password</label>
              <input type="password" name="password" ng-model="loginuser.password">
            </md-input-container>
            <md-input-container>
            <md-button ng-click="login()" class="md-raised loginbutton" name="login">Login</md-button>
        </md-input-container>
            </form>
        <md-button ng-click="close()" class="md-primary">
          Close
        </md-button>
      </md-content>
    </md-sidenav>
</md-content>