/*
|--------------------------------------------------------------------------
| CSS for My Perfect Destination app (MPD-app)
|--------------------------------------------------------------------------
|
| This is a webapplication built by Jurgen Barbier.
| More information about this developer can be found at www.jurgb.be
| Or on his Twitter account @jurg_b
|
*/

/* Using Data-URI converted from svg until <md-icon> becomes available 
https://github.com/google/material-design-icons
*/

/* new added css that needs testing */
.destinfospan{
    display: block;
}
.matchperccontainer{
    margin-left:200px;margin-top:-40px;   
}
.cardcontentcontainer{
    width:100%;
    display:inline-block;
}
.matchperctext{
    padding:0px;
    margin:0px;
    font-size:14px;
}
/*My styles for mpd-app*/
/*Toolbar*/

    h1.titelmpd
    {
        background-color: #48bebc;  
        width: 305px;
        color: #fff;
        text-align: center;
    }
    h1.titelmpd img
    {
        padding: 2%;
        max-width: 100%;
        max-height:100%;
        margin-left: auto;
        margin-right: auto;
    }
    /*menu btn*/
    .menuBtn {
      background: transparent url("../images/logoblue.png") no-repeat  center center;
    }
    .menuBtn {
      background-color: transparent;
        background-size: contain;
      border: none;
      height: 45px;
      margin: 10px 0 0 10px;
      width: 45px;
    }
    .visuallyhidden {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0; 
      position: absolute;
      width: 1px;
    }

    /*profile menu item style*/
    .profilepic{
        width: 40px;
    }
    .profilepicwrapper{
        border-radius: 50%;
        width: 40px;
        height: 40px;
        overflow: hidden;
        display:inline-block;
    }
     .borderleft{
        border-left: 1px rgba(72,190,188,0.7) solid;
        padding-left: 10px;
     }

    .logoutbutton
    {   
        display: inline-block;
        width: 20px;
        height: 20px;

    }
    a.menulink:link,
    a.menulink:visited,
    a.menulink:hover,
    a.menulink:active
    {
        display: inline-block;
        margin-right: 10px;

    }
    a:hover
    {
        color: rgba(72,190,188,1);
        transition: 0.3s;
    }
/*end toolbar*/
/* sidenav */
    .face {
   
      display: inline-block;
      margin: 4px 16px; 
      vertical-align: middle;
      width: 48px;
    }
    .categorie-list .md-button {
        color: inherit;
        font-weight: 500;
        text-align: left;
        width: 100%;
        height: 70px;
        display: block;
    }
    .categorie-list .selected {
      color: #48bebc;
      border-right: 4px solid #48bebc;
      background-color: rgba(255,255,255,0.05);
    }
    md-sidenav
    {
        background-color: #131921;
        color: #fff;
    }
/* end sidenav */
/* Content */
.location
{
    padding-bottom: 10px;
    padding-left: 15px;
    color: #fff;
}
.svg-small
{
    width: 25px;   
}
.svg-md
{
    width: 60px;
}
.promo-img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
}
.small-text
{
    color: #eeedee;
    font-size: 10px;
    margin-left: 5px;
}
#banner
{

    background-image: url("../images/berlin.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 200px;
}
.besttime
{
    color:#ffffff;
    text-align: center;
    background-color: rgba(196,206,47,0.6); 
}
.cheapestticket
{
    color:#ffffff;
    text-align: center;
    background-color: rgba(109,198,169,0.6);
}
/* end Content */

.dest_img
{   
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    max-height: 250px;
}


.formlayout
{
    width: 85%;
    max-width: 600px;
    padding: 50px;
    background-color: rgba(255,255,255,0.8);
}
.homepage
{
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.loginbutton
{
    max-width: 200px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: auto;
}

md-card
{
    min-width: 300px;
    max-width: 300px;
    min-height: 300px;
    max-height: 300px;
}
.userform
{
    padding: 50px;
    border: 1px solid #efefef;
    background-color: #efefef;
    margin-top: 15px;
}
md-tabs.md-default-theme md-tabs-ink-bar
{
    color: #48bebc;
    background-color: #48bebc;   
}
section.md-tabs-content md-content.md-default-theme{
    background-color: #efefef;
    padding: 50px;
    max-width: 700px;
}

.errormessage{
    background-color: rgba(0,0,0,0);
    color: red;
}
.destdetailspan{
    border: 1px solid #efefef;
    text-align: center;
}
.bordertop
{
    border-top: 1px dashed #48bebc;
    border-bottom: 1px dashed #48bebc;
}
.whitetext
{
    color: #fff;   
}
.md-actions{
    background-color: #fff;
}
md-dialog{
    overflow: scroll;   
}
md-select-menu.md-default-theme md-option[selected]{
    color: #fff;   
}
md-toolbar.md-default-theme{
    background-color: #fff;   
}
.feedbackinfo{
    background-color: rgba(72,190,188,0.4);
}