/*
|--------------------------------------------------------------------------
| CSS for Jurgb's CMS systhem in Angular
|--------------------------------------------------------------------------
|
| This is a webapplication built by Jurgen Barbier.
| More information about this developer can be found at www.jurgb.be
| Or on his Twitter account @jurg_b
|
*/

.signupform{
    width:250px;   
}
/*
|----------------------
|    Approved CSS 
|----------------------
*/
 /*menu btn*/
    .menuBtn {
      background: transparent url("../images/logoblue.png") no-repeat  center center;
    }
    .menuBtn {
      background-color: transparent;
        background-size: contain;
      border: none;
      height: 45px;
      margin: 10px 0 0 10px;
      width: 45px;
    }
    .visuallyhidden {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0; 
      position: absolute;
      width: 1px;
    }
/*
    .borderleft{
        border-left: 1px #fff solid;
        padding-left: 10px;
    }
*/
/*
|----------------------
|    Newly added CSS 
|----------------------
*/
.profilepic
{
    max-height: 30px;
    max-width: 30px;
    vertical-align: middle;
    margin-left: 5px;
    border-radius: 7.5px;
}

/*
|----------------------
|    CSS in development
|----------------------
*/


