<md-toolbar class="md-primary" layout="row">
            <button ng-click="toggleSidenav('left')" hide-gt-sm class="menuBtn">
                <span class="visuallyhidden">Menu</span>
            </button>
            <div flex class="md-toolbar-tools" layout="row" layout-align="end">
                   <md-button class="menulink" href="#/home">Startpagina</md-button>
                   <md-button class="menulink" href="#/todo">To-do list</md-button>                
                <span class="menulink borderleft" >
                    <md-menu md-position-mode="target-right target" md-offset="0 53">
                      <md-button layout="row" ng-click="$mdOpenMenu()">
                        <span><% loggedinuser.firstName %> <span hide-sm><% loggedinuser.lastName %></span></span>
                        <img class="profilepic" src="./assets/images/proflepics/me.png" alt="<% loggedinuser.firstName %> <% loggedinuser.lastName %>'s profile picture">    
                      </md-button>
                      <md-menu-content>
                        <md-menu-item>
                          <md-button href="#/profile">
                            My profile
                          </md-button>
                        </md-menu-item>
                        <md-menu-item>
                          <md-button>
                            Account settings
                          </md-button>
                        </md-menu-item>
                        <md-menu-item>
                          <md-button>
                            option 3
                          </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                          <md-button ng-click="logout()">
                            Log out
                          </md-button>
                        </md-menu-item>
                      </md-menu-content>
                </md-menu>
                </span>
            </div>          
</md-toolbar>
<md-content flex layout="column" ng-init="checkifloggedin();">
    <div layout="row"  layout-align="center center">
        Welcome to the homepage <% loggedinuser %>
    </div>
</md-content>