<md-toolbar class="md-primary" layout="row">
            <button ng-click="toggleSidenav('left')" hide-gt-sm class="menuBtn">
                <span class="visuallyhidden">Menu</span>
            </button>
            <div flex class="md-toolbar-tools" layout="row" layout-align="end">
                   <md-button class="menulink" href="#/home">Startpagina</md-button>
                   <md-button class="menulink" href="#/todo">To-do list</md-button>                
                <span class="menulink borderleft" >
                    <md-menu md-position-mode="target-right target" md-offset="0 53">
                      <md-button layout="row" ng-click="$mdOpenMenu()">
                        <span><% loggedinuser.firstName %> <span hide-sm><% loggedinuser.lastName %></span></span>
                        <img class="profilepic" src="./assets/images/proflepics/me.png" alt="<% loggedinuser.firstName %> <% loggedinuser.lastName %>'s profile picture">    
                      </md-button>
                      <md-menu-content>
                        <md-menu-item>
                          <md-button href="#/profile">
                            My profile
                          </md-button>
                        </md-menu-item>
                        <md-menu-item>
                          <md-button>
                            Account settings
                          </md-button>
                        </md-menu-item>
                        <md-menu-item>
                          <md-button>
                            option 3
                          </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                          <md-button ng-click="logout()">
                            Log out
                          </md-button>
                        </md-menu-item>
                      </md-menu-content>
                </md-menu>
                </span>
            </div>          
</md-toolbar>
<md-content layout="column" ng-init="checkifloggedin();" >
   <div layout="row" layout-align="center center">
       <div>
          
          
           
            <md-tabs md-dynamic-height style="overflow:hidden;" layout-fill >
                        <div layout-fill  layout="row">
                            
                            <md-tab  class="md-primary"  label="Todo's in progress">
                                <md-content class="md-padding" layout-wrap>
                                    <md-list style="background-color:#eee;width:600px;margin-top:15px;" layout-align="center center" layout="column" layout-padding>
            <md-list-item flex class="md-3-line todoItem">
                <img ng-src="./assets/images/promopic.jpg" class="md-avatar" alt="">
                <md-progress-circular style="margin-left:-61px;margin-top:11px;"  md-mode="determinate" value="<% progressbarnumber %>" md-diameter="55"></md-progress-circular >
                <div style="margin-left:10px;" flex layout="row" class="md-list-item-text">
                    <div flex >
                         <h3>progress 1</h3>
                         <h4>sub titel</h4>
                          <p >
                            Hier komt een klein beetje uitleg over het todo item dat wordt getoond, dit is een tekstje om te kijken of alles werkt zoals gewenst
                          </p>
                    </div>
                    <div layout="row">
                    <md-button class="md-icon-button" aria-label="Done">
                        <md-icon md-svg-src="./assets/images/icons/basicinfo.svg"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Edit">
                        <md-icon md-svg-src="./assets/images/icons/basicinfo.svg"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Delete">
                        <md-icon md-svg-src="./assets/images/icons/basicinfo.svg"></md-icon>
                    </md-button>
                    </div>
                </div>
            </md-list-item>
            <md-list-item flex class="md-3-line todoItem">
                <img ng-src="./assets/images/promopic.jpg" class="md-avatar" alt="">
                <md-progress-circular style="margin-left:-61px;margin-top:11px;"  md-mode="determinate" value="<% progressbarnumber %>" md-diameter="55"></md-progress-circular >
                <div style="margin-left:10px;" flex layout="row" class="md-list-item-text">
                    <div flex >
                         <h3>progress 1</h3>
                         <h4>sub titel</h4>
                          <p >
                            Hier komt een klein beetje uitleg over het todo item dat wordt getoond, dit is een tekstje om te kijken of alles werkt zoals gewenst
                          </p>
                    </div>
                    <div layout="row">
                    <md-button ng-click="setdone();" class="md-icon-button" aria-label="Done">
                        <md-icon md-svg-src="./assets/images/icons/basicinfo.svg"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Edit">
                        <md-icon md-svg-src="./assets/images/icons/basicinfo.svg"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Delete">
                        <md-icon md-svg-src="./assets/images/icons/basicinfo.svg"></md-icon>
                    </md-button>
                    </div>
                </div>
            </md-list-item>
          </md-list>
                                </md-content>
                            </md-tab>
                            <md-tab  class="md-primary"  label="Todo's to start">
                                <md-content>
                                    Geen items gevonden
                                </md-content>
                            </md-tab>
                            <md-tab  class="md-primary"  label="All finisched Todo's">
                                <md-content>
                                    Geen items gevonden
                                </md-content>
                            </md-tab>
                        </div>
                        </md-tabs> 
        </div> 
   </div>
    
</md-content>